.site-footer
{
  background: #D0D0D0;
  padding:45px 0 0px;
  font-size:15px;
  line-height:24px;
width:100%;
}
.footer-heading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px !important;
line-height: 36px;
text-align: center;
color: #131313;
}
.footer-connect{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
letter-spacing: 0.0046em;
color: #131313;
}
.addpad{
  display:flex;
  text-align: left;
}
.copyright-row{
  margin: 0 !important;
    padding: 0 !important;
}
.addpadd{
  display:flex;
  text-align: left;
width: 80%;
}

.icons{
  margin:4px;
}
.addicons{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top:2rem;
}

.addflex{
  display:flex;
  flex-direction: column;
}
.container{
    text-align: center;
}
.footer-container{
  background: black !important;
padding-left:20px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.flecx{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center
}
.site-footer h1
{
  color:#fff;
  font-size:30px;
  text-transform:uppercase;
  margin:5px;
  letter-spacing:2px
}
.site-footer h6{
    color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px

}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:2rem;
  color:white !important;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
